body {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: #eee;
}

/* table style */
table {
	border-collapse: collapse;
	margin: 1em;
}

td, th {
	border: 1px solid lightgrey;
	text-align: left;
	padding: 0.5em;
}

tr:nth-child(even) {
	background-color: lightgrey;
}

form {
	display: inline-block;
	margin: 1em;
}

/* nav bar style */
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e3e3e3;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 0.8em 1em;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #ddd;
}

.navbar .logout-btn {
	float: right;
}

.navbar .logout-btn a {
	color: #33adff;
}

.movie-group {
	text-align: center;
	padding: 0 20px;
}

.movie-container {
	display: inline-block;
	position: relative;
	z-index: 0;

	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.movie { 
	display: block; /* prevent extra pixels at bottom */
	border: 0.5em solid #fff;
	position: relative;
}

.movie img {
	display: block; /* prevents extra pixels at bottom */
	width: 182px; /* height and width of imdb images */
	height: 268px;
}

.movie-overlay {
	width: 100%;
	height: 100%;

	background: rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	overflow: hidden;

	position: absolute;
	z-index: 1;
	top: 0;
	left 0;

	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.movie-container::after {
	/* shadow */
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.movie-container:hover {
	z-index: 1;
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
}

.movie-container:hover::after {
	opacity: 1;
}

.movie-container:hover .movie-overlay {
	opacity: 1;
}

.movie-info {
	text-align: left;
	font-size: 1.5rem;
	overflow: hidden;
	padding: 1rem;
}

.title {
	text-align: left;
}

.year {
	display: block;
	text-align: right;
	font-size: 0.7em;
}

.rating-container {
	position: absolute;
	left: 50%;
	bottom: 1em;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.good {
	color: #2d862d;
}

.bad {
	color: #ff4d4d;
}
