<!DOCTYPE html>
<html>

<h1> About </h1>
	<p> For the best cinematographic experience, you should know as little as possible before sitting down and enjoying the film.
	This website adheres to a simple system of movie ratings to help determine which movies to watch while giving away as little about the movie as possible.</p>
	<p> Two arbiters of taste curate the selection of films.</p>

<h1> Authors </h1>
	<p> Ben and Evan are the aforementioned arbiters of taste.</p>

	<a href={{ url_for('movie_page') }}> Main </a>
</html>
