{% extends 'layout.html' %}
{% block body %}
<form method=post autocomplete=off>
	<fieldset>
	<legend>Load from IMDb page:</legend>
	<dl>
		<dt>IMDb URL:
		<dd><input type=text name=imdb_url size=40>
		<dd><input type=submit value=Submit>
	</dl>
	</fieldset>
</form>
<br>
<form action='{{ url_for('add_movie') }}' method=post autocomplete=off>
	<fieldset>
	<legend>Add a new entry</legend>
	<dl>
		<dt>Title:
		<dd><input type=text name=title value='{{ movie_info.title }}' required>
		<dt>Year:
		<dd><input type=text name=year value='{{ movie_info.year }}'>

		{% if movie_info and  movie_info.directors|length > 1 %}
		<dt>Directors:
		{% else %}
		<dt>Director:
		{% endif %}
		{% for director in movie_info.directors %}
		<dd><input type=text name=director value='{{ director }}'>
		{% else %}
		<dd><input type=text name=director value=''>
		{% endfor %}

		{% if movie_info and  movie_info.writers|length > 1 %}
		<dt>Writers:
		{% else %}
		<dt>Writer:
		{% endif %}
		{% for writer in movie_info.writers %}
		<dd><input type=text name=writer value='{{ writer }}'>
		{% else %}
		<dd><input type=text name=writer value=''>
		{% endfor %}

		{% if movie_info and  movie_info.actors|length > 1 %}
		<dt>Actors:
		{% else %}
		<dt>Actor:
		{% endif %}
		{% for actor in movie_info.actors %}
		<dd><input type=text name=actor value='{{ actor }}'>
		{% else %}
		<dd><input type=text name=actor value=''>
		{% endfor %}

		<dt>Poster URL:
		<dd><input type=text name=poster_url value='{{ movie_info.poster_url }}'>
		<dd><img src='{{ movie_info.poster_url }}'>
		<dt>Rating:
		<dd><input type=radio name=rating value=1 required>Good
		<dd><input type=radio name=rating value=0 required>Bad
		<dd><input type=submit value=Submit>
	</dl>
	</fieldset>
</form>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
{% endblock %}
