{% extends 'layout.html' %}
{% block body %}
	<div class=movie-group>
	{% for movie in movies %}
		<div class='movie-container'>
		<div class='movie'>
			<img src='{{ url_for('static', filename='movie_posters/'+movie.image_loc) }}' alt = '{{movie.title}}'>
			<div class='movie-overlay'>
				<div class='movie-info'>
					<span class='title'>{{ movie.title }}</span>
					{% if movie.year -%}
					<span class='year'>({{ movie.year }})</span>
					{%- endif -%}
				</div>
				<div class='rating-container'>
				{% if movie.rating -%}
					<span class='fa-stack fa-3x'>
						<i class='fa fa-circle fa-stack-2x good'></i>
						<i class='fa fa-check fa-stack-1x'></i>
					</span>
				{%- else -%}
					<span class='fa-stack fa-3x'>
						<i class='fa fa-circle fa-stack-2x bad'></i>
						<i class='fa fa-times fa-stack-1x'></i>
					</span>
				{%- endif %}
				</div>
			</div>
		</div>
		</div>
	{% else %}
		<p>Apparently, no movies have been reviewed yet.</p>
	{% endfor %}
	</div>
{% endblock %}
